.posts-navigation {

	& .nav-links {
		
        & .nav-previous a,
        & .nav-next a {
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 2px solid $theme-color;
            padding: 0 36px;
            font-size: 16px;
            line-height: 54px;
            border-radius: 3px;
            color: $white;
            cursor: pointer;
            z-index: 5;
            font-weight: 600;
            background-color: $theme-color;
            font-family: $semibold;
        }
	}

}
